<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">User Dashboard</title>
</head>
<body>
    <section>
        <div class="container mr-3 ml-2">
            <div class="row">
<!--                <div class="col-md-3"><img src="" th:src="@{/images/register.png}" alt="image" /></div>-->
<!--                <div class="col-md-3"></div>-->
                <div class="col-md-10 offset-md-1">
                    <div class="my-card mt-3">
<!--                        <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">-->
<!--                            <p class="text-center" th:text="${session.message.content}"></p>-->
<!--&lt;!&ndash;                                                        <th:block th:if="${#session.removeAttribute('message')}"></th:block>&ndash;&gt;-->
<!--                        </div>-->
                        <h1 class="text-center">Register Here !!</h1>
                        <form th:action="@{/user/process-contact}" method="post" th:object="${contact}" enctype="multipart/form-data">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                </div>
                                <input required name="cname" class="form-control" type="text" th:classappend="${#fields.hasErrors('cname')} ? 'is-invalid' : ''" placeholder="Enter name here" />
                                <div th:each="e : ${#fields.errors('cname')}" class="invalid-feedback">
                                    <span th:text="${e}" th:style="'color:red'"></span>
                                </div>
                            </div>

                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user-alt"></i>
                                    </div>
                                </div>
                                <input required name="nickname" class="form-control" type="text" th:classappend="${#fields.hasErrors('nickname')} ? 'is-invalid' : ''" placeholder="Enter nickname here" />
                                <div th:each="e : ${#fields.errors('nickname')}" class="invalid-feedback">
                                    <span th:text="${e}" th:style="'color:red'"></span>
                                </div>
                            </div>

                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-phone"></i>
                                    </div>
                                </div>
                                <input required name="phone" class="form-control" type="number" th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid' : ''" placeholder="Enter phone number here" />
                                <div th:each="e : ${#fields.errors('phone')}" class="invalid-feedback">
                                    <span th:text="${e}" th:style="'color:red'"></span>
                                </div>
                            </div>

                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-envelope"></i>
                                    </div>
                                </div>
                                <input required name="email" class="form-control" type="email" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''" placeholder="Enter email here" />
                                <div th:each="e : ${#fields.errors('email')}" class="invalid-feedback">
                                    <span th:text="${e}" th:style="'color:red'"></span>
                                </div>
                            </div>

                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input required name="work" class="form-control" type="text" th:classappend="${#fields.hasErrors('work')} ? 'is-invalid' : ''" placeholder="Enter work here" />
                                <div th:each="e : ${#fields.errors('work')}" class="invalid-feedback">
                                    <span th:text="${e}" th:style="'color:red'"></span>
                                </div>
                            </div>

                            <div class="input-group mt-3">
<!--                                <div class="input-group-prepend">-->
<!--                                    <div class="input-group-text">-->
<!--                                        <i class="fas fa-envelop"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <textarea name="description" class="form-control" rows="10" cols="40" placeholder="Enter description" ></textarea>
                            </div>

                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-images"></i>
                                    </div>
                                </div>
                                <input name="profileImage" class="form-control" type="file" />
                            </div>

                            <div class="container text-center mt-3">
                                <button class="btn btn-outline-secondary">Save Contact</button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.tiny.cloud/1/tib23nklfbawxeumzy8r712949sdmxn3ylpq8384opsk6a7a/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                tinycomments_mode: 'embedded',
                tinycomments_author: 'Author name',
                mergetags_list: [
                    { value: 'First.Name', title: 'First Name' },
                    { value: 'Email', title: 'Email' },
                ],
                ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
            });

        </script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                document.querySelectorAll('.item').forEach(item => {
                    item.classList.remove('active');
                });
                document.getElementById('add-link').classList.add('active');
            });
        </script>
    </section>
</body>
</html>